*{
    margin: 0;
    padding: 0;
}

/* Global Styles */
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: normal;
}
.section-title{
    font-family: 'Merriweather', serif;
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.section-subtitle{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.section-para{
    max-width: 698px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: #F00;
    padding: 16px 32px;
    border: 0;
}

/* Header Styles */
.banner{
    background-image: url(../images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    margin: 50px auto 0 auto;
    max-width: 1320px;
    text-align: center;
    border-radius: 16px;
}
.banner .bg-opacity{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 178px 50px;
    border-radius: 16px;
}
.banner .subtitle{
    color: #FFF;
    text-align: center;
    font-family: Merriweather, serif;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

/* Main Styles */

main section{
    margin: 0 auto;
    max-width: 1320px;
    margin-top: 120px;
}

/* Categories Styles */
.categories{
    text-align: center;
}
.categories .title{
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 48px;
}
.categories .section-subtitle{
    text-align: center;
    margin-bottom: 16px;
}
.categories .subtitle{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
.categories img{
    max-width: 803px;
    height: auto;
}

/* Party styles */
.party{
    background-image: url(../images/party-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}
.party .bg-opacity{
    padding: 68px 126px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 40px;
} 
.party .section-para{
    padding-top: 24px;
}
.party .btn-primary{
    margin-top: 24px;
}
.party-column{
    vertical-align: middle;
}
.party-column img{
    width: 320px;
    height: auto;
}
/* Time styles */
.time{
    padding: 100px;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    text-align: center;
}
.time-details{
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}
.time-details span{
    color: #F00;
}
.time button{
    margin-top: 48px;
}

.coming-soon{
    display: flex;
    justify-content: space-evenly;
    gap: 94px;
    align-items: center;
}

.coming-soon .section-title{
    color: #070211;
    font-size: 48px;
    line-height: normal;
    margin: 16px 0 22px 0;
}
.coming-soon .section-para{
    color: rgba(7, 2, 17, 0.60);
}

.coming-soon .cs-img{
    width: 364px;
    height: auto;
    padding: 34px;
    border-radius: 463px;
    border: 15px solid #F00;
}
.coming-soon .happy-new-year{
    width: 140px;
    height: auto;
    margin-top: 42px;
}

.coming-soon .cs-subtitle{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 16px;
}

/* Portfolio styles */
.portfolio .section-title{
    font-size: 48px;
    color: #070211;
    line-height: normal;
    margin: 16px 0 22px 0;

}
.portfolio .section-para{
    color: rgba(7, 2, 17, 0.60);
    max-width: 896px;
    padding-bottom: 24px;
}
.portfolio-item{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-evenly;
    margin-top: 24px;
}
.portfolio-item .single-items img{
    border-radius: 16px;
    max-width: 424px;
    height: 450px;
}
/* Subscribe styles */
.subscription{
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px;
    text-align: center;
}
.subscription .sub-icon{
    width: 150px;
    height: auto;
}
.subscription .section-title{
    margin-top: 40px;
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.subscription .section-para{
    color: rgba(7, 2, 17, 0.60);
    padding-top: 20px;
    margin: 0 auto;
    max-width: 896px;
}
.subscription form{
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.subscription form input[type="email"]{
    font-size: 18px;
    color: rgba(7, 2, 17, 0.30);
    border: 0;
    width: 438px;
    padding: 25px 0 25px 30px;
    border-radius: 50px 0 0 50px;
}
.subscription form input[type="submit"]{
    font-size: 18px;
    color: #FFF;
    border: 0;
    width: 210px;
    padding: 24px 56px;
    border-radius: 0 50px 50px 0;
    background: #F00;
    cursor: pointer;
}
/* FOOTER Styles */
footer {
    margin-top: 120px;
    background: #070211;
    padding: 120px 0;
}
footer section{
    width: 1320px;
    margin: 0 auto;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 48px;
}
.contact p img{
    width: 24px;
    height: auto;
    vertical-align: middle;
    padding-right: 10px;
}
.contact p a{
    color: #FFF;
    text-decoration: none;
}
.social-link{
    padding: 48px 0;
    justify-content: center;
    display: flex;
    gap: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}
.social-link img{
    width: 64px;
    height: auto;
}
.copyright{
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: flex;
    justify-content: space-between;
}
.copyright p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}
.copyright p a{
    color: #FFF;
    text-decoration: none;
}